<div class="faq">
  <div class="faq__wrapper">
    <div class="container">
      <div class="faq__title">FAQ</div>
      <ul class="faq__list accordion-container">
        <li class="faq__item ac">
          <h2 class="ac-header">
            <button type="button" class="ac-trigger">
              Могу ли я спеть свою песню на видео?
            </button>
          </h2>
          <div class="ac-panel">
            <p class="ac-text">
              Да, мы организуем трансфер для победителей, если они проживают
              не в Москве и МО.
            </p>
          </div>
        </li>
        <li class="faq__item ac">
          <h2 class="ac-header">
            <button type="button" class="ac-trigger">
              Могу ли я просить проголосовать за себя друзей?
            </button>
          </h2>
          <div class="ac-panel">
            <p class="ac-text">
              Да, мы организуем трансфер для победителей, если они проживают
              не в Москве и МО.
            </p>
          </div>
        </li>
        <li class="faq__item ac">
          <h2 class="ac-header">
            <button type="button" class="ac-trigger">
              Могу ли я загрузить несколько видео?
            </button>
          </h2>
          <div class="ac-panel">
            <p class="ac-text">
              Да, мы организуем трансфер для победителей, если они проживают
              не в Москве и МО.
            </p>
          </div>
        </li>
        <li class="faq__item ac">
          <h2 class="ac-header">
            <button type="button" class="ac-trigger">
              Если я из другого города, оплачивается ли трансфер в Москву?
            </button>
          </h2>
          <div class="ac-panel">
            <p class="ac-text">
              Да, мы организуем трансфер для победителей, если они проживают
              не в Москве и МО.
            </p>
          </div>
        </li>
        <li class="faq__item ac">
          <h2 class="ac-header">
            <button type="button" class="ac-trigger">
              Если я стану победителем в конкурсе, мне придёт уведомление?
            </button>
          </h2>
          <div class="ac-panel">
            <p class="ac-text">
              Да, мы организуем трансфер для победителей, если они проживают
              не в Москве и МО.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
