<div class="hero">
  <div class="hero__wrapper">
    <div class="container">
      <p class="hero-text">Онлайн-конкурс детских талантов</p>
      <img src="" alt="" class="hero__img" />
      <div class="hero__bottom">
        <ul class="hero__flex">
          <li><a href="">участвовать в конкурсе</a></li>
          <li><a href="">голосовать</a></li>
        </ul>
        <div class="hero__rules">
          Нажимая кнопку вы соглашаетесь с Правилами участия в конкурсе
        </div>
      </div>
    </div>
  </div>
</div>
