<div class="hero">
  <div class="hero__wrapper">
    <div class="container">
      <p class="hero-text">Онлайн-конкурс <span>детских</span> талантов</p>
      <div class="hero__image">
        <picture>
          <source srcset="././img/hero-img.svg" media="(min-width: 550px)" />

          <img src="././img/hero-img-mob.svg" alt="Dema" />
        </picture>
      </div>

      <div class="hero__bottom">
        <div class="join__btns">
          <button class="button-special join__button">
            <span class="">Участвовать в конкурсе</span>
            <svg
              width="320"
              height="55"
              viewBox="0 0 320 55"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M154.908 1.00516C203.279 0.921354 281.028 0.130691 302.379 6.64852C323.73 13.1663 324.86 38.5267 310.182 47.0927C299.179 53.5127 288.799 54.9793 144.287 54.5958C44.9881 54.333 30.8864 53.2509 14.0693 47.406C-2.74781 41.5612 -6.24645 17.2465 13.2892 9.1567C40.4336 -2.08093 109.262 1.0843 154.908 1.00516Z"
              />
            </svg>
          </button>
          <button class="button-special join__button">
            <span class="">Голосовать</span>
            <svg
              width="320"
              height="55"
              viewBox="0 0 320 55"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M154.908 1.00516C203.279 0.921354 281.028 0.130691 302.379 6.64852C323.73 13.1663 324.86 38.5267 310.182 47.0927C299.179 53.5127 288.799 54.9793 144.287 54.5958C44.9881 54.333 30.8864 53.2509 14.0693 47.406C-2.74781 41.5612 -6.24645 17.2465 13.2892 9.1567C40.4336 -2.08093 109.262 1.0843 154.908 1.00516Z"
              />
            </svg>
          </button>
        </div>
        <div class="hero__rules">
          Нажимая кнопку вы соглашаетесь с <a href=""
            >Правилами участия в конкурсе</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
