<div class="new-hero">
  <div class="new-hero__wrapper">
    <div class="container">
      <p class="hero-text">Онлайн-конкурс <span>детских</span> талантов</p>

      <div class="new-hero-item bear">
        <div class="cloud cloudAnim">
          <div class="cloud-wrapper">
            <img
              src="./img/bear/web-c1.svg"
              alt="circle"
              class="circle c1 ca1"
            />
            <img
              src="./img/bear/web-c2.svg"
              alt="circle"
              class="circle c2 ca2"
            />
            <img
              src="./img/bear/web-c3.svg"
              alt="circle"
              class="circle c3 ca3"
            />
            <img
              src="./img/bear/web-c4.svg"
              alt="circle"
              class="circle c4 ca4"
            />
            <img
              src="./img/bear/web-c5.svg"
              alt="circle"
              class="circle c5 ca5"
            />
            <img
              src="./img/bear/web-c6.svg"
              alt="circle"
              class="circle c6 ca6"
            />
            <img
              src="./img/bear/web-c7.svg"
              alt="circle"
              class="circle c7 ca7"
            />
            <img
              src="./img/bear/web-c8.svg"
              alt="circle"
              class="circle c8 ca8"
            />
            <img
              src="./img/bear/web-c9.svg"
              alt="circle"
              class="circle c9 ca9"
            />
            <img src="./img/bear/web-tail.svg" alt="tail" class="tail taila" />
            <img src="./img/bear/web-cbg.svg" alt="circle" class="cbg" />
            <p class="cloud-text">
              <span class="line1">
                <span class="animText t1"> Ко</span
                ><span class="animText t2">нкурс</span>
                <span class="animText t3"> тала</span
                ><span class="animText t4">нтов</span>
                <span class="animText t5"> завер</span
                ><span class="animText t6">шен</span>
              </span>
              <span class="line2">
                <span class="animText t5">Спа</span
                ><span class="animText t4">сибо</span>
                <span class="animText t3"> всем</span>
                <span class="animText t4">участ</span
                ><span class="animText t5">никам</span>
              </span>
              <span class="line3">
                <br />
                <span class="animText t6">за</span>
                <span class="animText t5"> ви</span
                ><span class="animText t4">део</span>
                <span class="animText t3"> и </span>
                <span class="animText t2">эмо</span
                ><span class="animText t1">ции!</span>
              </span>
            </p>
          </div>
        </div>
      </div>

      <div class="new-hero__image hero__image">
        <picture>
          <source srcset="././img/new-hero.svg" media="(min-width: 551px)" />
          <img src="././img/new-hero-mob.svg" alt="Dema" />
        </picture>
      </div>

      <div class="hero__bottom">
        <a href="#winnersnew" class="button-special new-hero__btn">
          <span class="">Победители конкурса</span>
          <svg
            height="55"
            viewBox="0 0 320 55"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M154.908 1.00516C203.279 0.921354 281.028 0.130691 302.379 6.64852C323.73 13.1663 324.86 38.5267 310.182 47.0927C299.179 53.5127 288.799 54.9793 144.287 54.5958C44.9881 54.333 30.8864 53.2509 14.0693 47.406C-2.74781 41.5612 -6.24645 17.2465 13.2892 9.1567C40.4336 -2.08093 109.262 1.0843 154.908 1.00516Z"
            />
          </svg>
        </a>
      </div>
    </div>
  </div>
</div>
