<div id="winnersnew" class="real-winners">
  <div class="real-winners__wrapper">
    <div class="container">
      <div class="real-winners__title">Победители конкурса</div>
      <div lang="ru" class="real-winners__subtitle">
        Для получения призов мы свяжемся <br />с вами по телефону или почте,
        которую вы указывали при регистрации заявки
      </div>
      <ul class="videos-result__list">
        <li class="videos-result__item">
          <video
            class="account-video-tag js-wonners-player"
            id="player"
            playsinline
            data-poster="/path/to/poster.jpg"
          >
            <source src="../../img/video.mp4" type="video/mp4" />
          </video>

          <div class="real-winners__author">
            <div class="real-winners__author-icon">
              <img src="../../img/photo.jpg" alt="img" />
              <span>К</span>
            </div>
            <div class="real-winners__author-info">
              <span class="real-winners__author-nickname"
                >Светлана Иванова</span
              >
              <span class="real-winners__author-city"
                >г. <span>Москва</span>, <span>10</span> лет</span
              >
            </div>
          </div>
          <div class="videos-result__info up">
            <div class="videos-result__song-info">
              <div class="real-winners__song-img">
                <img src="././img/photo.jpg" alt="iocn" />
              </div>
              <div class="real-winners__song">
                <div class="real-winners__song-singer">Марьяна Локель</div>
                <div class="real-winners__song-name">Нано краска топ!</div>
              </div>
            </div>

            <div class="real-winners__likes">
              <span><img src="././img/heart.svg" alt="icon" /></span>
              <span>1203</span>
            </div>
          </div>
        </li>
        <li class="videos-result__item">
          <video
            class="account-video-tag js-wonners-player"
            id="player"
            playsinline
            data-poster="/path/to/poster.jpg"
          >
            <source src="../../img/video.mp4" type="video/mp4" />
          </video>

          <div class="real-winners__author">
            <div class="real-winners__author-icon">
              <span>К</span>
            </div>
            <div class="real-winners__author-info">
              <span class="real-winners__author-nickname"
                >Светлана Иванова</span
              >
              <span class="real-winners__author-city"
                >г. <span>Москва</span>, <span>10</span> лет</span
              >
            </div>
          </div>
          <div class="videos-result__info up">
            <div class="videos-result__song-info">
              <div class="real-winners__song-img">
                <img src="././img/photo.jpg" alt="iocn" />
              </div>
              <div class="real-winners__song">
                <div class="real-winners__song-singer">Марьяна Локель</div>
                <div class="real-winners__song-name">Нано краска топ!</div>
              </div>
            </div>

            <div class="real-winners__likes">
              <span><img src="././img/heart.svg" alt="icon" /></span>
              <span>1203</span>
            </div>
          </div>
        </li>

        <li class="videos-result__item">
          <video
            class="account-video-tag js-wonners-player"
            id="player"
            playsinline
            data-poster="/path/to/poster.jpg"
          >
            <source src="../../img/video.mp4" type="video/mp4" />
          </video>

          <div class="real-winners__author">
            <div class="real-winners__author-icon">
              <span>К</span>
            </div>
            <div class="real-winners__author-info">
              <span class="real-winners__author-nickname"
                >Светлана Иванова</span
              >
              <span class="real-winners__author-city"
                >г. <span>Москва</span>, <span>10</span> лет</span
              >
            </div>
          </div>
          <div class="videos-result__info up">
            <div class="videos-result__song-info">
              <div class="real-winners__song-img">
                <img src="././img/photo.jpg" alt="iocn" />
              </div>
              <div class="real-winners__song">
                <div class="real-winners__song-singer">Марьяна Локель</div>
                <div class="real-winners__song-name">Нано краска топ!</div>
              </div>
            </div>

            <div class="real-winners__likes">
              <span><img src="././img/heart.svg" alt="icon" /></span>
              <span>1203</span>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
