<div class="roules" id="rules">
  <div class="roules__wrapper">
    <div class="container">
      <h1 class="roules__title">Правила участия</h1>
      <ul class="roules__list">
        <li class="roules__item">
          <div class="roules__img">
            <picture>
              <source
                srcset="././img/roules-1.svg"
                media="(min-width: 768px)"
              />

              <img src="././img/roules-1-mob.svg" alt="Описание изображения" />
            </picture>
          </div>
          <div class="roules__roulet__item-flex">
            <div class="roules__item-title">Шаг 1</div>
            <div class="roules__item-text">
              Запиши видео, где ты поешь песню любимого блогера  под минус
              или аккомпанемент музыкального инструмента
            </div>
          </div>
        </li>
        <li class="roules__item">
          <div class="roules__img">
            <picture>
              <source
                srcset="././img/roules-2.svg"
                media="(min-width: 768px)"
              />
              <img src="././img/roules-2-mob.svg" alt="Описание изображения" />
            </picture>
          </div>
          <div class="roules__roulet__item-flex">
            <div class="roules__item-title">Шаг 2</div>
            <div class="roules__item-text">
              Нажми на кнопку «Участвовать в конкурсе», заполни заявку
               и отправь нам свой ролик
            </div>
          </div>
        </li>
        <li class="roules__item">
          <div class="roules__img">
            <picture>
              <source
                srcset="././img/roules-3.svg"
                media="(min-width: 768px)"
              />

              <img src="././img/roules-3-mob.svg" alt="Описание изображения" />
            </picture>
          </div>
          <div class="roules__roulet__item-flex">
            <div class="roules__item-title">Шаг 3</div>
            <div class="roules__item-text">
              Отправляй ссылку на видео друзьям и попроси голосовать за тебя
            </div>
          </div>
        </li>
        <li class="roules__item">
          <div class="roules__img">
            <picture>
              <source
                srcset="././img/roules-4.svg"
                media="(min-width: 768px)"
              />

              <img src="././img/roules-4-mob.svg" alt="Описание изображения" />
            </picture>
          </div>
          <div class="roules__roulet__item-flex">
            <div class="roules__item-title">Шаг 4</div>
            <div class="roules__item-text">
              Собирай лайки от зрителей  со всей страны и жди результатов
              конкурса
            </div>
          </div>
        </li>
      </ul>
      <div class="roules-attention">
        <div class="roules-attention__left">
          <div class="roules-attention__title">Обратите внимание!</div>
          <div class="roules-attention__text">
            Список треков ограничен в целях соблюдения авторских прав юных
            артистов
          </div>
        </div>
        <a href="#" class="roules-attention__btn">
          <span> Треки для участия </span>
          <svg
            width="320"
            height="54"
            viewBox="0 0 320 54"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M154.908 0.352816C203.279 0.26901 281.028 -0.521653 302.379 5.99617C323.73 12.514 324.86 37.8743 310.182 46.4403C299.179 52.8604 288.799 54.3269 144.287 53.9435C44.9881 53.6806 30.8864 52.5985 14.0693 46.7537C-2.74781 40.9088 -6.24645 16.5942 13.2892 8.50436C40.4336 -2.73328 109.262 0.431953 154.908 0.352816Z"
              fill="white"
            />
          </svg>
        </a>
      </div>
      <div class="roules-apply">
        <div class="roules-apply__text">
          Заявки принимаются с 2.09.2024 по 22.09.2024
        </div>
      </div>
    </div>
  </div>
</div>
