<div class="songs">
  <div class="songs__wrapper">
    <div class="container">
      <div class="songs__title">
        выбирай песню и Покажи свой талант всей стране
      </div>
      <div class="songs__subtitle">
        Сними видео и выступи на одной сцене с любимыми блогерами
      </div>
      <ul class="songs__list">
        <li class="songs__item">
          <div class="songs__img">
            <img src="././img/photo.jpg" alt="img" />
          </div>
          <div class="songs__info">
            <div class="songs__item-title">Марьяна Локель</div>
            <div class="songs__item-singer">Купи пёсика</div>
            <a
              href="././img/photo.jpg"
              class="songs__item-download button-special"
              download
            >
              <span>скачать минус</span>
              <svg
                width="229"
                height="54"
                viewBox="0 0 229 54"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M110.786 0.352816C145.379 0.26901 200.983 -0.521653 216.252 5.99617C231.522 12.514 232.33 37.8743 221.833 46.4403C213.964 52.8604 206.54 54.3269 103.19 53.9435C32.1741 53.6806 22.089 52.5985 10.0619 46.7537C-1.96515 40.9088 -4.46727 16.5942 9.50406 8.50436C28.9169 -2.73328 78.1412 0.431953 110.786 0.352816Z"
                />
              </svg>
            </a>
          </div>
        </li>
        <li class="songs__item">
          <div class="songs__img">
            <img src="././img/photo.jpg" alt="img" />
          </div>
          <div class="songs__info">
            <div class="songs__item-title">Марьяна Локель</div>
            <div class="songs__item-singer">Купи пёсика</div>
            <a
              href="././img/photo.jpg"
              class="songs__item-download button-special"
              download
            >
              <span>скачать минус</span>
              <svg
                width="229"
                height="54"
                viewBox="0 0 229 54"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M110.786 0.352816C145.379 0.26901 200.983 -0.521653 216.252 5.99617C231.522 12.514 232.33 37.8743 221.833 46.4403C213.964 52.8604 206.54 54.3269 103.19 53.9435C32.1741 53.6806 22.089 52.5985 10.0619 46.7537C-1.96515 40.9088 -4.46727 16.5942 9.50406 8.50436C28.9169 -2.73328 78.1412 0.431953 110.786 0.352816Z"
                />
              </svg>
            </a>
          </div>
        </li>
        <li class="songs__item">
          <div class="songs__img">
            <img src="././img/photo.jpg" alt="img" />
          </div>
          <div class="songs__info">
            <div class="songs__item-title">Марьяна Локель</div>
            <div class="songs__item-singer">Купи пёсика</div>
            <a
              href="././img/photo.jpg"
              class="songs__item-download button-special"
              download
            >
              <span>скачать минус</span>
              <svg
                width="229"
                height="54"
                viewBox="0 0 229 54"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M110.786 0.352816C145.379 0.26901 200.983 -0.521653 216.252 5.99617C231.522 12.514 232.33 37.8743 221.833 46.4403C213.964 52.8604 206.54 54.3269 103.19 53.9435C32.1741 53.6806 22.089 52.5985 10.0619 46.7537C-1.96515 40.9088 -4.46727 16.5942 9.50406 8.50436C28.9169 -2.73328 78.1412 0.431953 110.786 0.352816Z"
                />
              </svg>
            </a>
          </div>
        </li>
        <li class="songs__item">
          <div class="songs__img">
            <img src="././img/photo.jpg" alt="img" />
          </div>
          <div class="songs__info">
            <div class="songs__item-title">Марьяна Локель</div>
            <div class="songs__item-singer">Купи пёсика</div>
            <a
              href="././img/photo.jpg"
              class="songs__item-download button-special"
              download
            >
              <span>скачать минус</span>
              <svg
                width="229"
                height="54"
                viewBox="0 0 229 54"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M110.786 0.352816C145.379 0.26901 200.983 -0.521653 216.252 5.99617C231.522 12.514 232.33 37.8743 221.833 46.4403C213.964 52.8604 206.54 54.3269 103.19 53.9435C32.1741 53.6806 22.089 52.5985 10.0619 46.7537C-1.96515 40.9088 -4.46727 16.5942 9.50406 8.50436C28.9169 -2.73328 78.1412 0.431953 110.786 0.352816Z"
                />
              </svg>
            </a>
          </div>
        </li>
        <li class="songs__item">
          <div class="songs__img">
            <img src="././img/photo.jpg" alt="img" />
          </div>
          <div class="songs__info">
            <div class="songs__item-title">Марьяна Локель</div>
            <div class="songs__item-singer">Купи пёсика</div>
            <a
              href="././img/photo.jpg"
              class="songs__item-download button-special"
              download
            >
              <span>скачать минус</span>
              <svg
                width="229"
                height="54"
                viewBox="0 0 229 54"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M110.786 0.352816C145.379 0.26901 200.983 -0.521653 216.252 5.99617C231.522 12.514 232.33 37.8743 221.833 46.4403C213.964 52.8604 206.54 54.3269 103.19 53.9435C32.1741 53.6806 22.089 52.5985 10.0619 46.7537C-1.96515 40.9088 -4.46727 16.5942 9.50406 8.50436C28.9169 -2.73328 78.1412 0.431953 110.786 0.352816Z"
                />
              </svg>
            </a>
          </div>
        </li>
        <li class="songs__item">
          <div class="songs__img">
            <img src="././img/photo.jpg" alt="img" />
          </div>
          <div class="songs__info">
            <div class="songs__item-title">Марьяна Локель</div>
            <div class="songs__item-singer">Купи пёсика</div>
            <a
              href="././img/photo.jpg"
              class="songs__item-download button-special"
              download
            >
              <span>скачать минус</span>
              <svg
                width="229"
                height="54"
                viewBox="0 0 229 54"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M110.786 0.352816C145.379 0.26901 200.983 -0.521653 216.252 5.99617C231.522 12.514 232.33 37.8743 221.833 46.4403C213.964 52.8604 206.54 54.3269 103.19 53.9435C32.1741 53.6806 22.089 52.5985 10.0619 46.7537C-1.96515 40.9088 -4.46727 16.5942 9.50406 8.50436C28.9169 -2.73328 78.1412 0.431953 110.786 0.352816Z"
                />
              </svg>
            </a>
          </div>
        </li>
        <li class="songs__item">
          <div class="songs__img">
            <img src="././img/photo.jpg" alt="img" />
          </div>
          <div class="songs__info">
            <div class="songs__item-title">Марьяна Локель</div>
            <div class="songs__item-singer">Купи пёсика</div>
            <a
              href="././img/photo.jpg"
              class="songs__item-download button-special"
              download
            >
              <span>скачать минус</span>
              <svg
                width="229"
                height="54"
                viewBox="0 0 229 54"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M110.786 0.352816C145.379 0.26901 200.983 -0.521653 216.252 5.99617C231.522 12.514 232.33 37.8743 221.833 46.4403C213.964 52.8604 206.54 54.3269 103.19 53.9435C32.1741 53.6806 22.089 52.5985 10.0619 46.7537C-1.96515 40.9088 -4.46727 16.5942 9.50406 8.50436C28.9169 -2.73328 78.1412 0.431953 110.786 0.352816Z"
                />
              </svg>
            </a>
          </div>
        </li>
        <li class="songs__item">
          <div class="songs__img">
            <img src="././img/photo.jpg" alt="img" />
          </div>
          <div class="songs__info">
            <div class="songs__item-title">Марьяна Локель</div>
            <div class="songs__item-singer">Купи пёсика</div>
            <a
              href="././img/photo.jpg"
              class="songs__item-download button-special"
              download
            >
              <span>скачать минус</span>
              <svg
                width="229"
                height="54"
                viewBox="0 0 229 54"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M110.786 0.352816C145.379 0.26901 200.983 -0.521653 216.252 5.99617C231.522 12.514 232.33 37.8743 221.833 46.4403C213.964 52.8604 206.54 54.3269 103.19 53.9435C32.1741 53.6806 22.089 52.5985 10.0619 46.7537C-1.96515 40.9088 -4.46727 16.5942 9.50406 8.50436C28.9169 -2.73328 78.1412 0.431953 110.786 0.352816Z"
                />
              </svg>
            </a>
          </div>
        </li>
        <li class="songs__item">
          <div class="songs__img">
            <img src="././img/photo.jpg" alt="img" />
          </div>
          <div class="songs__info">
            <div class="songs__item-title">Марьяна Локель</div>
            <div class="songs__item-singer">Купи пёсика</div>
            <a
              href="././img/photo.jpg"
              class="songs__item-download button-special"
              download
            >
              <span>скачать минус</span>
              <svg
                width="229"
                height="54"
                viewBox="0 0 229 54"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M110.786 0.352816C145.379 0.26901 200.983 -0.521653 216.252 5.99617C231.522 12.514 232.33 37.8743 221.833 46.4403C213.964 52.8604 206.54 54.3269 103.19 53.9435C32.1741 53.6806 22.089 52.5985 10.0619 46.7537C-1.96515 40.9088 -4.46727 16.5942 9.50406 8.50436C28.9169 -2.73328 78.1412 0.431953 110.786 0.352816Z"
                />
              </svg>
            </a>
          </div>
        </li>
        <li class="songs__item">
          <div class="songs__img">
            <img src="././img/photo.jpg" alt="img" />
          </div>
          <div class="songs__info">
            <div class="songs__item-title">Марьяна Локель</div>
            <div class="songs__item-singer">Купи пёсика</div>
            <a
              href="././img/photo.jpg"
              class="songs__item-download button-special"
              download
            >
              <span>скачать минус</span>
              <svg
                width="229"
                height="54"
                viewBox="0 0 229 54"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M110.786 0.352816C145.379 0.26901 200.983 -0.521653 216.252 5.99617C231.522 12.514 232.33 37.8743 221.833 46.4403C213.964 52.8604 206.54 54.3269 103.19 53.9435C32.1741 53.6806 22.089 52.5985 10.0619 46.7537C-1.96515 40.9088 -4.46727 16.5942 9.50406 8.50436C28.9169 -2.73328 78.1412 0.431953 110.786 0.352816Z"
                />
              </svg>
            </a>
          </div>
        </li>
        <li class="songs__item">
          <div class="songs__img">
            <img src="././img/photo.jpg" alt="img" />
          </div>
          <div class="songs__info">
            <div class="songs__item-title">Марьяна Локель</div>
            <div class="songs__item-singer">Купи пёсика</div>
            <a
              href="././img/photo.jpg"
              class="songs__item-download button-special"
              download
            >
              <span>скачать минус</span>
              <svg
                width="229"
                height="54"
                viewBox="0 0 229 54"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M110.786 0.352816C145.379 0.26901 200.983 -0.521653 216.252 5.99617C231.522 12.514 232.33 37.8743 221.833 46.4403C213.964 52.8604 206.54 54.3269 103.19 53.9435C32.1741 53.6806 22.089 52.5985 10.0619 46.7537C-1.96515 40.9088 -4.46727 16.5942 9.50406 8.50436C28.9169 -2.73328 78.1412 0.431953 110.786 0.352816Z"
                />
              </svg>
            </a>
          </div>
        </li>
        <li class="songs__item">
          <div class="songs__img">
            <img src="././img/photo.jpg" alt="img" />
          </div>
          <div class="songs__info">
            <div class="songs__item-title">Марьяна Локель</div>
            <div class="songs__item-singer">Купи пёсика</div>
            <a
              href="././img/photo.jpg"
              class="songs__item-download button-special"
              download
            >
              <span>скачать минус</span>
              <svg
                width="229"
                height="54"
                viewBox="0 0 229 54"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M110.786 0.352816C145.379 0.26901 200.983 -0.521653 216.252 5.99617C231.522 12.514 232.33 37.8743 221.833 46.4403C213.964 52.8604 206.54 54.3269 103.19 53.9435C32.1741 53.6806 22.089 52.5985 10.0619 46.7537C-1.96515 40.9088 -4.46727 16.5942 9.50406 8.50436C28.9169 -2.73328 78.1412 0.431953 110.786 0.352816Z"
                />
              </svg>
            </a>
          </div>
        </li>
        <li class="songs__item">
          <div class="songs__img">
            <img src="././img/photo.jpg" alt="img" />
          </div>
          <div class="songs__info">
            <div class="songs__item-title">Марьяна Локель</div>
            <div class="songs__item-singer">Купи пёсика</div>
            <a
              href="././img/photo.jpg"
              class="songs__item-download button-special"
              download
            >
              <span>скачать минус</span>
              <svg
                width="229"
                height="54"
                viewBox="0 0 229 54"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M110.786 0.352816C145.379 0.26901 200.983 -0.521653 216.252 5.99617C231.522 12.514 232.33 37.8743 221.833 46.4403C213.964 52.8604 206.54 54.3269 103.19 53.9435C32.1741 53.6806 22.089 52.5985 10.0619 46.7537C-1.96515 40.9088 -4.46727 16.5942 9.50406 8.50436C28.9169 -2.73328 78.1412 0.431953 110.786 0.352816Z"
                />
              </svg>
            </a>
          </div>
        </li>
        <li class="songs__item">
          <div class="songs__img">
            <img src="././img/photo.jpg" alt="img" />
          </div>
          <div class="songs__info">
            <div class="songs__item-title">Марьяна Локель</div>
            <div class="songs__item-singer">Купи пёсика</div>
            <a
              href="././img/photo.jpg"
              class="songs__item-download button-special"
              download
            >
              <span>скачать минус</span>
              <svg
                width="229"
                height="54"
                viewBox="0 0 229 54"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M110.786 0.352816C145.379 0.26901 200.983 -0.521653 216.252 5.99617C231.522 12.514 232.33 37.8743 221.833 46.4403C213.964 52.8604 206.54 54.3269 103.19 53.9435C32.1741 53.6806 22.089 52.5985 10.0619 46.7537C-1.96515 40.9088 -4.46727 16.5942 9.50406 8.50436C28.9169 -2.73328 78.1412 0.431953 110.786 0.352816Z"
                />
              </svg>
            </a>
          </div>
        </li>
        <li class="songs__item">
          <div class="songs__img">
            <img src="././img/photo.jpg" alt="img" />
          </div>
          <div class="songs__info">
            <div class="songs__item-title">Марьяна Локель</div>
            <div class="songs__item-singer">Купи пёсика</div>
            <a
              href="././img/photo.jpg"
              class="songs__item-download button-special"
              download
            >
              <span>скачать минус</span>
              <svg
                width="229"
                height="54"
                viewBox="0 0 229 54"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M110.786 0.352816C145.379 0.26901 200.983 -0.521653 216.252 5.99617C231.522 12.514 232.33 37.8743 221.833 46.4403C213.964 52.8604 206.54 54.3269 103.19 53.9435C32.1741 53.6806 22.089 52.5985 10.0619 46.7537C-1.96515 40.9088 -4.46727 16.5942 9.50406 8.50436C28.9169 -2.73328 78.1412 0.431953 110.786 0.352816Z"
                />
              </svg>
            </a>
          </div>
        </li>
        <li class="songs__item">
          <div class="songs__img">
            <img src="././img/photo.jpg" alt="img" />
          </div>
          <div class="songs__info">
            <div class="songs__item-title">Марьяна Локель</div>
            <div class="songs__item-singer">Купи пёсика</div>
            <a
              href="././img/photo.jpg"
              class="songs__item-download button-special"
              download
            >
              <span>скачать минус</span>
              <svg
                width="229"
                height="54"
                viewBox="0 0 229 54"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M110.786 0.352816C145.379 0.26901 200.983 -0.521653 216.252 5.99617C231.522 12.514 232.33 37.8743 221.833 46.4403C213.964 52.8604 206.54 54.3269 103.19 53.9435C32.1741 53.6806 22.089 52.5985 10.0619 46.7537C-1.96515 40.9088 -4.46727 16.5942 9.50406 8.50436C28.9169 -2.73328 78.1412 0.431953 110.786 0.352816Z"
                />
              </svg>
            </a>
          </div>
        </li>
        <li class="songs__item">
          <div class="songs__img">
            <img src="././img/photo.jpg" alt="img" />
          </div>
          <div class="songs__info">
            <div class="songs__item-title">Марьяна Локель</div>
            <div class="songs__item-singer">Купи пёсика</div>
            <a
              href="././img/photo.jpg"
              class="songs__item-download button-special"
              download
            >
              <span>скачать минус</span>
              <svg
                width="229"
                height="54"
                viewBox="0 0 229 54"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M110.786 0.352816C145.379 0.26901 200.983 -0.521653 216.252 5.99617C231.522 12.514 232.33 37.8743 221.833 46.4403C213.964 52.8604 206.54 54.3269 103.19 53.9435C32.1741 53.6806 22.089 52.5985 10.0619 46.7537C-1.96515 40.9088 -4.46727 16.5942 9.50406 8.50436C28.9169 -2.73328 78.1412 0.431953 110.786 0.352816Z"
                />
              </svg>
            </a>
          </div>
        </li>
        <li class="songs__item">
          <div class="songs__img">
            <img src="././img/photo.jpg" alt="img" />
          </div>
          <div class="songs__info">
            <div class="songs__item-title">Марьяна Локель</div>
            <div class="songs__item-singer">Купи пёсика</div>
            <a
              href="././img/photo.jpg"
              class="songs__item-download button-special"
              download
            >
              <span>скачать минус</span>
              <svg
                width="229"
                height="54"
                viewBox="0 0 229 54"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M110.786 0.352816C145.379 0.26901 200.983 -0.521653 216.252 5.99617C231.522 12.514 232.33 37.8743 221.833 46.4403C213.964 52.8604 206.54 54.3269 103.19 53.9435C32.1741 53.6806 22.089 52.5985 10.0619 46.7537C-1.96515 40.9088 -4.46727 16.5942 9.50406 8.50436C28.9169 -2.73328 78.1412 0.431953 110.786 0.352816Z"
                />
              </svg>
            </a>
          </div>
        </li>
        <li class="songs__item">
          <div class="songs__img">
            <img src="././img/photo.jpg" alt="img" />
          </div>
          <div class="songs__info">
            <div class="songs__item-title">Марьяна Локель</div>
            <div class="songs__item-singer">Купи пёсика</div>
            <a
              href="././img/photo.jpg"
              class="songs__item-download button-special"
              download
            >
              <span>скачать минус</span>
              <svg
                width="229"
                height="54"
                viewBox="0 0 229 54"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M110.786 0.352816C145.379 0.26901 200.983 -0.521653 216.252 5.99617C231.522 12.514 232.33 37.8743 221.833 46.4403C213.964 52.8604 206.54 54.3269 103.19 53.9435C32.1741 53.6806 22.089 52.5985 10.0619 46.7537C-1.96515 40.9088 -4.46727 16.5942 9.50406 8.50436C28.9169 -2.73328 78.1412 0.431953 110.786 0.352816Z"
                />
              </svg>
            </a>
          </div>
        </li>
        <li class="songs__item">
          <div class="songs__img">
            <img src="././img/photo.jpg" alt="img" />
          </div>
          <div class="songs__info">
            <div class="songs__item-title">Марьяна Локель</div>
            <div class="songs__item-singer">Купи пёсика</div>
            <a
              href="././img/photo.jpg"
              class="songs__item-download button-special"
              download
            >
              <span>скачать минус</span>
              <svg
                width="229"
                height="54"
                viewBox="0 0 229 54"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M110.786 0.352816C145.379 0.26901 200.983 -0.521653 216.252 5.99617C231.522 12.514 232.33 37.8743 221.833 46.4403C213.964 52.8604 206.54 54.3269 103.19 53.9435C32.1741 53.6806 22.089 52.5985 10.0619 46.7537C-1.96515 40.9088 -4.46727 16.5942 9.50406 8.50436C28.9169 -2.73328 78.1412 0.431953 110.786 0.352816Z"
                />
              </svg>
            </a>
          </div>
        </li>
      </ul>
      <div class="songs-show-more">
        <button class="songs-show-more__button button-special">
          <span class="songs-show-more__span">Показать ещё</span>
          <svg
            width="240"
            height="54"
            viewBox="0 0 240 54"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M116.181 0.352816C152.459 0.26901 210.771 -0.521653 226.784 5.99617C242.797 12.514 243.645 37.8743 232.636 46.4403C224.384 52.8604 216.599 54.3269 108.215 53.9435C33.741 53.6806 23.1648 52.5985 10.552 46.7537C-2.06085 40.9088 -4.68483 16.5942 9.96692 8.50436C30.3252 -2.73328 81.9467 0.431953 116.181 0.352816Z"
            />
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>
