<div class="winners">
  <div class="winners__wrapper">
    <div class="container">
      <div class="winners__title">
        <span class="winners__title-span">
          <span class="winners__title-span-special"> 1.10.2024</span>
          <span class="winners__title-span-first">мы объявим </span>
          3 победителей конкурса
        </span>
      </div>
      <div class="winners__block">
        <div class="winners__block-bear">
          <img src="../../img/winners-bear.svg" alt="bear" />
        </div>
        <div class="winners__block-number winners__block-number-f">1</div>
        <div class="winners__block-number winners__block-number-s">2</div>
        <div class="winners__block-info winners__block-info-f">
          <div class="winners__block--title">1-ым победителем</div>
          <p class="winners__block-text">
            Станет участник, набравший рекордное количество лайков  под своим
            видео на сайте конкурса
          </p>
        </div>
        <div class="winners__block-info winners__block-info-s">
          <div class="winners__block--title">2-x победителей</div>
          <p class="winners__block-text">
            Определит профессиональное жюри СуперЛайкШоу
          </p>
        </div>
      </div>
      <div class="prizes__title">Призы победителей конкурса</div>
      <div class="prizes__flex">
        <div class="prizes__left">
          <div class="prizes__img">
            <img src="../../img/prizes.svg" alt="" />
          </div>
          <div class="prizes__left-block">
            <div class="prizes__left-title">
              Вытупление на премии «СуперЛайкШоу-2024»
            </div>
            <div class="prizes__left-text">
              Победители запишут трек детского мира и выступят с ним на розовой
              дорожке Музыкальной Премии СТС Kids х Kids Project
            </div>
          </div>
        </div>
        <div class="prizes__right">
          <div class="prizes__right-block">
            <div class="prizes__right-img">
              <img src="../../img/prizes-small-1.svg" alt="" />
            </div>
            <div class="prizes__left-text">
              Победителей наградят на главной сцене премии вместе с артистами
              премии «СуперЛайкШоу-2024»
            </div>
          </div>
          <div class="prizes__right-block">
            <div class="prizes__right-img">
              <img src="../../img/prizes-small-2.svg" alt="" />
            </div>
            <div class="prizes__left-text">
              Каждый победитель получит подарочный сертификат на запись своей
              песни в профессиональной студии звукозаписи
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
