<footer class="footer">
  <div class="footer__wrapper">
    <div class="footer__container">
      <div class="footer__block">
        <div class="footer__s">
          <div class="footer__left">
            <div class="footer__logo">
              <a href="">
                <picture>
                  <source
                    srcset="./img/footer_logo.svg"
                    media="(min-width: 551px)"
                  />

                  <img
                    src="./img/footer_logo-mob.svg"
                    alt="Описание изображения"
                  />
                </picture>
              </a>
            </div>
          </div>
          <div class="footer__temp">
            <div class="footer__start">
              <div class="footer__date">9 - 29 сентября 2024 года</div>
              <div class="footer__apply">Приём заявок</div>
            </div>
            <div class="footer-support footer-support-web">
              <a target="_blank" href="https://t.me/kidsprojecttop">
                <div class="footer-support__icon">
                  <img src="../img/footer-support.svg" alt="" />
                </div>
                <div class="footer-support__text">Служба поддержки</div>
              </a>
            </div>
          </div>
          <div class="footer__end">
            <div class="footer__date">3 октября 2024 года</div>
            <div class="footer__apply">Объявление результатов</div>
          </div>
          <div class="footer-support footer-support-mob">
            <a target="_blank" href="https://t.me/kidsprojecttop">
              <div class="footer-support__icon">
                <img src="../img/footer-support.svg" alt="" />
              </div>
              <div class="footer-support__text">Служба поддержки</div>
            </a>
          </div>
        </div>

        <div class="footer__botton">
          <div class="footer__polits">
            <div class="footer__polit">
              <a target="_blank" href="https://www.detmir.ru/privacy_policy/"
                >Политика конфиденциальности</a
              >
            </div>
            <div class="footer__polit">
              <a target="_blank" href="https://bonus.detmir.ru/pdn_lk"
                >Политика обработки персональных данных
              </a>
            </div>
            <div class="footer__polit">
              <a target="_blank" href="../rules-page.html"
                >Правила участия в конкурсе</a
              >
            </div>
          </div>

          <p class="footer__botton-p">© KIDS PROJECT, 2024</p>
          <p class="footer__botton-rights">Все права защищены</p>
        </div>
      </div>
    </div>
  </div>
</footer>
